*.unity text eol=lf whitespace=-trailing-space
*.prefab text eol=lf whitespace=-trailing-space
*.mat text eol=lf whitespace=-trailing-space
*.controller text eol=lf whitespace=-trailing-space
*.physicMaterial text eol=lf whitespace=-trailing-space
*.meta text eol=lf whitespace=-trailing-space
*.asset text eol=lf whitespace=-trailing-space
*.lighting text eol=lf whitespace=-trailing-space
*.terrainlayer text eol=lf whitespace=-trailing-space
